<!-- signup.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">


</head>
<body class="img js-fullheight" style="background-image: url({% static 'images/bg.jpg' %});">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="heading-section">Spend<span style="color: #fbceb5;">Wise</span></h2>
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
<!--        <div class="auth">-->
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-group">
                <input type="text" placeholder="Full Name" name="full_name" class="form-control">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Email" name="email" class="form-control">
                </div>
                <div class="form-group">
                <input type="text" placeholder="Username" name="username" value="{{ username }}" class="form-control">
                </div>
                <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <div class="form-group">
                <input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                </div>
            </form>
            {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>

            </div>

             </div>
        </div>
        </div>
    </div>
</section>
</body>
</html>
